<strong>Olá {{ provider }}</strong>
<p>Houve um cancelamento de horario, confira os detalhes abaixo: </p>
<p>
    <strong> Cliente: </strong> {{user}}<br />
    <strong> Data/hora: </strong> {{date}} <br />
    <small>
        o horario está novamente disponivel para novos agendamentos.
    </small>
</p>